In [1]:
import pandas as pd
        
import numpy as np

df = pd.DataFrame(
    {
        '天気':["晴れ","雨","晴れ","雨",
             "晴れ","晴れ","雨","晴れ"],
        '気温':["19","22","14","16","18","19","13","10"],
    }
)

In [2]:
df

   天気  気温
0  晴れ  19
1   雨  22
2  晴れ  14
3   雨  16
4  晴れ  18
5  晴れ  19
6   雨  13
7  晴れ  10

In [3]:
df[df["天気"]=="雨"]

  天気  気温
1  雨  22
3  雨  16
6  雨  13

In [4]:
xlist = []
for index, row in df.iterrows():
    if row[0] == "雨":
        xlist.append(index)
        print(xlist)

[1]
[1, 3]
[1, 3, 6]

In [5]:
npx = np.array(xlist)

In [6]:
difference = np.diff(npx) 
difference

array([2, 3])

In [7]:
l_difference = list(difference)

In [8]:
np.array(l_difference)

array([2, 3])

In [9]:
max(difference )

3

In [12]:
np.average(difference)

2.5

In [8]:
l_index = list(df.天気)
l_index

['晴れ', '雨', '晴れ', '雨', '晴れ', '晴れ', '雨', '晴れ']

In [9]:
print(l_index.index('雨'))

1

In [10]:
df.columns.get_loc('気温')

1

In [20]:
sum(difference)

5

In [19]:
len(difference)

2

In [21]:
sum(difference)/len(difference)

2.5

In [22]:
np.average(difference)

2.5

In [27]:
df.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7]

In [5]:
df = pd.DataFrame(
    {
        '日付':["2月27日","2月27日","3月10日","4月10日",
             "4月10日","4月10日","5月1日","6月28日"],

    }
)

In [6]:
df

      日付
0  2月27日
1  2月27日
2  3月10日
3  4月10日
4  4月10日
5  4月10日
6   5月1日
7  6月28日

In [13]:
df['ID'] = pd.factorize(df['日付'])[0]
df
df['ID'] = df['ID'] +1
df

      日付  ID
0  2月27日   1
1  2月27日   1
2  3月10日   2
3  4月10日   3
4  4月10日   3
5  4月10日   3
6   5月1日   4
7  6月28日   5

In [24]:
array_unique = df['日付'].unique()
array_unique

array(['2月27日', '3月10日', '4月10日', '5月1日', '6月28日'], dtype=object)

In [27]:
list_unique = list(array_unique)
list_unique

['2月27日', '3月10日', '4月10日', '5月1日', '6月28日']

In [36]:
df['count'] = df.groupby('日付').cumcount()+1
df
type(df.groupby('日付').cumcount()+1)

pandas.core.series.Series

In [38]:
new_df=df[df['count']==1]

In [50]:
new_df.reset_index()

   index     日付  count  ID
0      0  2月27日      1   0
1      2  3月10日      1   1
2      3  4月10日      1   2
3      6   5月1日      1   3
4      7  6月28日      1   4

In [51]:
len(list_unique)

5

In [52]:
new_list = list(range(len(list_unique)))

In [53]:
new_df["ID"]=new_list

/Users/macbookpro/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [54]:
new_df

      日付  count  ID
0  2月27日      1   0
2  3月10日      1   1
3  4月10日      1   2
6   5月1日      1   3
7  6月28日      1   4

In [12]:
df['日付'].duplicated()

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7    False
Name: 日付, dtype: bool

In [17]:
df['日付'].drop_duplicates().index

Int64Index([0, 2, 3, 6, 7], dtype='int64')

In [16]:
df

      日付  気温
0  2月27日  19
1  2月27日  22
2  3月10日  14
3  4月10日  16
4  4月10日  18
5  4月10日  19
6   5月1日  13
7  6月28日  10

In [1]:
import collections
l = ['a', 'a', 'a', 'a', 'b', 'c', 'c', 'c', 'c']
counted = collections.Counter(l)
#最頻値が同値である場合全て出力したい
print(counted.most_common()[0][0])
#頻出数ではなく、文字だけ出力したい

a

In [8]:
import itertools
counter = collections.Counter(l)
counter

Counter({'a': 4, 'b': 1, 'c': 4})

In [10]:
mode_v = counter.most_common()[0][1]
mode_v

4

In [6]:
mode_v = counter.most_common()[0]
mode_v

('a', 4)

In [7]:
mode_v = counter.most_common()
mode_v

[('a', 4), ('c', 4), ('b', 1)]